// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-size: 14px;
  font-weight: normal;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 130x;
  font-weight: bold;
}
a{
  color: #555;
}
a:hover{
  color: #222;
}
small{
  float: left;
}
img.brand-icon{
  width: 17px;
  height: 17px;
}
.navbar .container .navbar-brand,
.navbar .container .navbar-nav li.nav-item > a{color: #fff;}
nav.navbar.navbar-expand-lg{margin-bottom: 20px;}
/*User gravatar*/
section.user_info{
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  .gravatar{
    float: none;
    max-width: 70px;
  }
  h1{
    font-size: 1.4em;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 15px;
  }
}
.gravatar{
  float: left;
  max-width: 50px;
  border-radius: 50%;
}
/* User edit */
.gravatar_edit{
  margin: 15px auto;
  text-align: center;
  .gravatar{
    float: none;
    max-width: 100px;
  }
}
/* statuses list */
.media-body h5 > span {
    float: left;
    font-size: 80%;
}
/* stats style */
.stats{
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a{
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 33%;
    border-left: 1px solid #eee;
    color: #33383c;
    &:first-child{
      padding-left:0;
      border: 0;
    }
    &:hover{
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong{
    display: block;
    font-size: 1.2em;
    color: black;
  }
}
